:root{
    /* palette creata online */
    --gunmetal: #182825ff;
    --azul: #016fb9ff;
    --pacific-cyan: #22aed1ff;
    --air-force-blue: #6d8ea0ff;
    --khaki: #afa98dff;
}

body{
    background-color: var(--gunmetal)
}
.square{
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: var(--azul);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.fizz{
    background-color: var(--pacific-cyan);
}
.buzz{
    background-color: var(--air-force-blue);
    
}
.fizzbuzz{
    background-color: var(--khaki);
    color: white;
    
}